{% extends 'VardiusCrudBundle::layout.html.twig' %}

{% block title %}Show{% endblock %}

{% block content %}
    <h3>override this layout to display content using data property as an entity</h3>
{% endblock %}
